%header
  %h1
    Tag
    = @tag
- @posts.each do |post|
  %article
    = render partial: 'post', object: post
    %footer
      %a{href: frontend_show_post_path(post) + '#comments'}
        = surround 'Comments(', ')' do
          = post.comment_ids.count
